/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    #vBox1{
        -fx-alignment: CENTER;
        -fx-background-color: #087830;
    }
    #tfARSTitle{
        -fx-background-color: transparent;
    }
    #label1{
        -fx-font-size: 20;
        -fx-font-weight: BOLD;
        -fx-text-fill: grey;
    }
    #btnPBCancel,#btnPBSubmit{
        -fx-background-color: white;
        -fx-border-color: #087830;
        -fx-border-width: 1.5;
    }
    #hBox1{
        -fx-border-width: 0 0 2;
        -fx-border-color: #087830;
    }
}
.PBlabels{
        -fx-font-family: Courier New; -fx-font-size: 16;
}
.btnPhonemes{
    -fx-background-color:  transparent;
    -fx-border-radius:  20;
    -fx-border-color:  #087830;
}
.PBseperators{
    -fx-background-color:  #087830;
}
